<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoADatos.Properties.Settings.pubsConnectionString"
            connectionString="Data Source=CELES-PC\SQLEXPRESS;Initial Catalog=pubs;User ID=sa;Password="
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>